
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="layout :: layout(~{::body})">
<body>
<a th:href="@{/}">Accueil</a><br/>
<h1>Liste des Critiques</h1>
<a th:href="@{/web/critiques/new}">Ajouter une Critique</a>
<table border="1">
    <tr>
        <th>ID</th><th>Résumé</th><th>Score</th><th>Livre</th><th>Actions</th>
    </tr>
    <tr th:each="critique : ${critiques}">
        <td th:text="${critique.id}">1</td>
        <td th:text="${critique.resume}">Résumé</td>
        <td th:text="${critique.score}">5</td>
        <td th:text="${critique.livre != null ? critique.livre.titre : 'N/A'}">Livre</td>
        <td>
            <a th:href="@{'/web/critiques/delete/' + ${critique.id}}" onclick="return confirm('Confirmer ?');">Supprimer</a>
        </td>
    </tr>
</table>
</body>
</html>
